-var path = '../';
-var head_url = 'https://vorotnikova.mymv.ru/taro-telling/course/';
-var head_title = '«Тайны Таро»';
-var head_description = 'Обучающий курс Оксаны Воротниковой';
-var styles = path+'css/course.min.css';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var scriptsLibs = path+'js/course-libs.min.js';
-var scripts = path+'js/course.js';
-var noref = true
-var footer_title = true
-var oferta = 'https://mastervision.su/oferta-s.docx'
-var tk = true;
-var ah = true;
-var href = '#prices';

mixin b(cl,clb,href,p,target,id)
	.button-wrapper(class=cl)
		a.button(class=clb href!=href target=target id=id)=p
mixin gt(cl,h3)
	h3.general-title(class=cl)=h3
mixin imgs(cl,src,alt)
	img(class=cl src=path+src alt=alt)

<?php include('vars.php');?>
|
|
doctype html
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		.wrapper
			include pug/base/1-header-course
			include pug/course/1-main
			include pug/course/2-for
			include pug/course/3-get
			include pug/course/4-plan
			include pug/course/5-prices
			include pug/main/8-author
			include pug/main/9-revs
			include pug/course/6-recs
			include pug/course/7-last
		include pug/base/2-footer
		include pug/course/8-modals
		.mobile-menu
			.mobile-menu-line.mobile-menu-line-1
			.mobile-menu-line.mobile-menu-line-2
			.mobile-menu-line.mobile-menu-line-3
		include pug/base/3-scripts
		include pug/scripts/chat
		include pug/scripts/body_bottom_scripts