-var path = '';
-var head_url = 'https://vorotnikova.mymv.ru/taro-telling/';
-var head_title = '«Сказки языком Таро»';
-var head_description = '3-дневный онлайн мастер-класс Оксаны Воротниковой';
-var head_img = 'img/banner.jpg';
-var styles = path+'css/styles.min.css';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var scriptsLibs = path+'js/libs.min.js';
-var scripts = path+'js/scripts.js';
-var noref = true
-var action = '';
-var group = '';
-var formId = '';
-var formVc = '';
//- -var footer_title = true
//- -var oferta = 'https://mastervision.su/oferta.docx'
-var tk = true;
-var ah = true;
-var href = '#Modal';

mixin b(cl,clb,href,p,target,id)
	.button-wrapper(class=cl)
		a.button(class=clb href=href target=target id=id)=p
mixin gt(cl,h3)
	h3.general-title(class=cl)=h3
mixin imgs(cl,src,alt)
	img(class=cl src=path+src alt=alt)

doctype html
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		.wrapper
			include pug/base/1-header
			include pug/main/1-main
			include pug/main/2-video
			include pug/main/3-about
			include pug/main/4-for
			include pug/main/5-pic
			include pug/main/6-plan
			include pug/main/7-know
			include pug/main/8-author
			include pug/main/9-revs
			include pug/main/10-last
		include pug/base/2-footer
		include pug/main/11-modal
		include pug/base/3-scripts
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts