// -var full_1 = '16 900р.';
// -var full_2 = '22 900р.';
// -var full_3 = '28 900р.';

// -var sale_1 = '2 000р.';
// -var sale_2 = '2 000р.';
// -var sale_3 = '2 000р.';

// -var today_1 = '14 900р.';
// -var today_2 = '20 900р.';
// -var today_3 = '26 900р.';

// -var link_1 = 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=1323&clean=true&lg=ru';
// -var link_2 = 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=1327&clean=true&lg=ru';
// -var link_3 = 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=1331&clean=true&lg=ru';

// -var prepLink = '<?=$prepLink;?>';

-var full_1 = '16 900р.';
-var full_2 = '22 900р.';
-var full_3 = '28 900р.';
-var sale_1 = '<?=$sale1;?>';
-var sale_2 = '<?=$sale2;?>';
-var sale_3 = '<?=$sale3;?>';
-var today_1 = '<?=$today1;?>';
-var today_2 = '<?=$today2;?>';
-var today_3 = '<?=$today3;?>';
-var link_1 = '<?=$link1;?>';
-var link_2 = '<?=$link2;?>';
-var link_3 = '<?=$link3;?>';
-var prepLink = '<?=$prepLink;?>';

section#prices
	.container
		.content
			+imgs('general-img general-img-packets-1', 'img/icons/1-star.png', 'Звезда')
			+imgs('general-img general-img-packets-2', 'img/icons/2-stars.png', '2 звезды')
			+gt('general-title-center', 'Выберите свой вариант участия')
			.row
				.col-md-4
					.packet.packet-1
						.packet-head
							h4.packet-head-title
								small пакет
								| НОВИЧОК
						.packet-body
							p.packet-body-text подходит тем, кто хочет понять, насколько интересно и увлекательно будет для него занятие Таро, подходит ли ему этот метод. В этом пакете мы проходим только Старшие Арканы и 3-карточные расклады-триплеты. Этого достаточно, чтобы начать гадать и получать ответы на несложные вопросы.
								span Включает в себя:
							ul.packet-body-list
								li 12 занятий;
									a.button-up(href="#Modal-1") подробнее...
								li домашние задания с проверкой;
								li обратная связь.
						.packet-footer
							|
							<?php if($now<$dates[1]){;?>
							p.cost.cost-full Стоимость:
								span!=full_1
							p.cost.cost-sale Скидка:
								span#sale-1!=sale_1
							p.cost.cost-today Стоимость сегодня:
								span#today-1!=today_1
							+b('', 'button-cost', link_1, 'Выбрать','_blank', 'link-1')
							|
							|
							<?php } else {;?>
							p.cost.cost-full Стоимость:
								span.unbroken!=full_1
							+b('', 'button-cost', link_1, 'Выбрать','_blank')
							|
							|
							<?php };?>
				.col-md-4
					.packet.packet-2
						.packet-head
							h4.packet-head-title
								small пакет
								| ЛЮБИТЕЛЬ
						.packet-body
							p.packet-body-text подходит тем, кто хочет понять, насколько интересно и увлекательно будет для него занятие Таро, подходит ли ему этот метод. В этом пакете мы проходим уже не только Старшие Арканы и 3-карточные расклады-триплеты. Он дополнен занятиями по Младшим Арканам, но без фигурных карт. Также дается более сложный расклад на отношения «Вокзал для двоих».
								span Включает в себя: 
							ul.packet-body-list
								li 18 занятий 
									small (12 с «Новичка» + 6 с «Любителя»);
									a.button-up(href="#Modal-2") подробнее...
								li домашние задания с проверкой;
								li обратная связь.
						.packet-footer
							|
							<?php if($now<$dates[1]){;?>
							p.cost.cost-full Стоимость:
								span!=full_2
							p.cost.cost-sale Скидка:
								span#sale-2!=sale_2
							p.cost.cost-today Стоимость сегодня:
								span#today-2!=today_2
							+b('', 'button-cost', link_2, 'Выбрать','_blank', 'link-2')
							|
							|
							<?php } else {;?>
							p.cost.cost-full Стоимость:
								span.unbroken!=full_2
							+b('', 'button-cost', link_2, 'Выбрать','_blank')
							|
							|
							<?php };?>
				.col-md-4
					.packet.packet-3
						.packet-head
							h4.packet-head-title
								small пакет
								| ПРОФЕССИОНАЛ
						.packet-body
							p.packet-body-text дополнен занятиями по фигурным картам Таро. Таким образом, человек будет знать всю колоду Таро, все значения карт в прямом и перевернутом положении. Также даются самые ходовые расклады, необходимые в повседневной деятельности таролога. И возможность коррекции ситуации. С данным пакетом человек может работать профессионально и зарабатывать деньги.
								span Включает в себя: 
							ul.packet-body-list
								li 24 занятия 
									small (12 с «Новичка» + 6 с «Любителя» + 6 с «Профессионала»);
									a.button-up(href="#Modal-3") подробнее...
								li домашние задания с проверкой;
								li обратная связь.
						.packet-footer
							|
							<?php if($now<$dates[1]){;?>
							p.cost.cost-full Стоимость:
								span!=full_3
							p.cost.cost-sale Скидка:
								span#sale-3!=sale_3
							p.cost.cost-today Стоимость сегодня:
								span#today-3!=today_3
							+b('', 'button-cost', link_3, 'Выбрать','_blank', 'link-3')
							|
							|
							<?php } else {;?>
							p.cost.cost-full Стоимость:
								span.unbroken!=full_3
							+b('', 'button-cost', link_3, 'Выбрать','_blank')
							|
							|
							<?php };?>
			|
			|
			<?php if($now < $dates[2]):?>
			.prepayment
				h4.prepayment-title Акция!!!
				p.prepayment-text Платите 1&nbsp;000р., бонусом получаете 
					span#prepayment-bonus 1&nbsp;000р. 
					br
					| На счет зачисляется 
					span#prepayment-credited 2&nbsp;000р.
				+b('button-center', 'prepayment-button', prepLink, 'Оплатить 1 000р.', '_blank', 'prepLink')
			|
			|
			<?php endif;?>
			|
			|
			<?php if($now < $dates[1]):?>
			.timer
				h4.timer-title Скидка уменьшится через:
				.clock
			|
			|
			<?php endif;?>